<div class="ui small modal" id="profile-modal">
    <i class="close icon"></i>
    <div class="header">
        Profile
    </div>
    <div class="content">
        <div class="ui form" id="profile-form">
            <div class="two fields">
                <div class="field">
                    <label>Nickname:</label>
                    <input type="text" placeholder="Nickname" name="nickname" ng-model="modalCtrl.profile.nickname">
                </div>
                <div class="field">
                    <label>Gender</label>
                    <select name="gender" class="ui dropdown" ng-model="modalCtrl.profile.gender">
                        <option value="">Gender</option>
                        <option value="1">Male</option>
                        <option value="0">Female</option>
                    </select>
                </div>
            </div>
            <div class="field">
                <div class="ui horizontal divider">Choose your icon</div>
                <div class="ui eight column grid">
                    <div class="center aligned column" ng-repeat="icon in modalCtrl.icons">
                        <i class="bordered {{ icon }} large link icon" ng-click="modalCtrl.selectIcon($index)" ng-class="{'inverted': modalCtrl.isSelected($index)}"></i>
                    </div>
                </div>
            </div>
            <div style="display: none" class="ui submit button" id="profile-submit" ng-click="modalCtrl.newProfile()"></div>
            <div class="ui error message"></div>
        </div>
    </div>
    <div class="actions">
        <div class="ui positive right labeled icon button">
            Join now!
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>
